.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 80rem;
    width: 100%;
}

.title-black {
    color: #060A24;
    font-size: 4.8rem;
    margin-left: 2rem;
    margin-bottom: 3.5rem;
    margin-top: 5rem;
    align-self: flex-start;
}

.images {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.images- {
    width: 33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 60rem) {
    .gallery {
        display: block;
        align-content: center;
        height: 200rem;
        top: 6rem;
    }

    .images {
        width: 100%;
        flex-direction: column;
    }

    .images- {
        display: block;
        width: 100%;
    }
}