.logo {
    display: flex;
    height: 8rem;
    width: 10%;
    align-items: center;
    justify-content: center
}

.logo- {
    height: 3.6rem;
    width: 3.6rem;
}

.nav-bar {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 100;
    padding: 0;
}

.flex-nav {
    list-style: none;
    text-align: center;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 5rem;
    top: -15rem;
    width: 90%;

}


li {
    padding: 2.6rem 4.8rem;
    text-decoration: none;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    color: #060a24;
    display: flex;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

a:hover {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    color: #00F3BB;
    text-decoration: line-through;
}

a:active {
    font-family: 'IBM Plex Mono', monospace;
    font-size: 1.6rem;
    color: rgba(6, 10, 36, 0.56);
    text-decoration: line-through;
}


h1 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 6.4rem;
    color: #060a24;
    display: inline;
}

h3 {
    line-height: 3rem;
}

.tachado {
    text-decoration: line-through;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 6.4rem;
    color: #060a24;
    display: inline;
}

.dot {
    color: #0000EC;
    font-size: 6.4rem;
}

p.copy {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2rem;
    color: #060a24;
    line-height: 2.4rem;
}

.button {
    background-color: #00F3BB;
    height: 5.6rem;
    width: 22.6rem;
    padding: 1.6rem 5.9rem;
    border: none;
    transition: all .3s ease-in;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
    cursor: pointer;
}

.button:hover {
    background: linear-gradient(-90deg, #0000FE 0%, #00F0B8 100%);
    color: white;
}

.burguer-menu {
    display: none;
}


@media only screen and (max-width: 60rem) {

    h1,
    h3,
    p.copy,
    .button{
        margin-left: 2rem;
    }

    .nav-bar {
        align-items: center;
        justify-content: left;
    }

    .logo {
        display: flex;
        height: 8rem;
        justify-content: center;
        width: 25%;
    }

    .burguer-menu {
        display: flex;
    }

    .navbar__menu {
        top: 7rem;
        left: 0;
        display: block;
        position: fixed;
        transform: translateX(200%);
        justify-content: center;
        width: 100vw;
        background-color: #0000FE;
        font-family: 'IBM Plex Mono', sans-serif;
        color: #fff;
        font-size: 1.6rem;
        list-style: none;
        transition: all .5s;
        margin: 0;
    }

    a {
        text-decoration: none;
        color: white;
    }

    .flex-nav {
        display: none;
    }

    .navbar__menu--item {
        padding: 1rem;
        transition: all .3s;
        justify-content: flex-start;
    }

    #navbar__button {
        /* display: none; */
        opacity: 0;
    }

    #navbar__button:checked~.navbar__menu {
        display: block;
        transform: translateX(0);
        margin-top: 1rem;
        z-index: 500;
    }

    .navbar__button {
        position: absolute;
        right: 3rem;
        top: 2.5rem;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        align-items: center;
    }

    .burguer-menu {
        display: block;
    }

    .navbar--burger {
        cursor: pointer;
        width: 100%;
        height: 100%;
        position: relative;
    }

    .line {
        height: 10%;
        width: 75%;
        background-color: rgb(0, 0, 0);
        border-radius: 10px;
        transition: all 0.2s ease;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .line--top {
        top: 25%;
    }

    .line--bottom {
        transform: translate(-50%, -50%);
        top: 75%;
    }

    .navbar__checkbox:checked~.navbar__button .navbar--burger .line--mid {
        opacity: 0
    }

    .navbar__checkbox:checked~.navbar__button .navbar--burger .line--top {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
        background-color: #0000A3;
    }

    .navbar__checkbox:checked~.navbar__button .navbar--burger .line--bottom {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
        background-color: #0000A3;

    }

}

@media only screen and (min-width: 61rem) {
    .flex-nav {
        list-style: none;
        text-align: center;
        display: flex;
        justify-content: flex-end;
        flex-direction: row;
        padding: 5rem;
    }

}