.topics {
    position: relative;
    align-content: center;
}

.title-black #topics {
    margin: 10rem, 2rem;
    display: block;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    margin: 4rem 0;
    align-items: center;
}

.icons-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon-1,
.icon-2,
.icon-3,
.icon-4 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 4rem;
    height: 12rem;

}

p.icon {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.4rem;
    top: 2rem;
    justify-content: center;
    text-align: center;
    justify-items: center;
}

@media screen and (max-width: 60rem) {
    .topics {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        top: 30rem;
    }

    .title-black #topics {
        margin: 3rem 0rem;
    }

    .icons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0rem;
        align-items: center;
    }

    .icons-wrapper {
        width: 25rem;
        margin-bottom: 4rem;
    }
    .icons-wrapper img{
    width: 14rem;
}

    .icon-1,
    .icon-2,
    .icon-4 {
        margin: 2rem;
        height: 18rem;
        align-content: center;
    }

    .icon-3 {
        margin-top: 3rem;
        height: 18rem;
    }

    p.icon {
        font-size: 2.6rem;
        font-family: 'IBM Plex Sans', sans-serif;
        text-align: center;
        align-items: center;
        margin-top: 2rem;
        width: 22rem;
    }

}

